@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Manrope:wght@200..800&family=Staatliches&display=swap");
/* @tailwind base; */
@tailwind components;
@tailwind utilities;

/* html {
  background-color: #110A19;
} */

h1 {
  font-size: 2.5rem;
  font-weight: 300;
}

h2 {
  font-size: 1rem;
  font-weight: 500;
}

h3 {
  font-size: 0.9rem;
  font-weight: 300;
}

* {
  margin: 0;
  padding: 0;
  font-family: "Manrope", sans-serif;
}

.loading-indicator {
  height: 100%;
  /* background-color: rgb(187, 0, 0); */
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  z-index: 50;
}

.loader {
  width: 48px;
  height: 48px;
  border: 3px solid #ffffff;
  border-radius: 50%;
  display: inline-block;
  position: relative;
  box-sizing: border-box;
  animation: rotation 1s linear infinite;
}
.loader::after {
  content: "";
  box-sizing: border-box;
  position: absolute;
  left: 0;
  top: 0;
  background: rgb(29 78 216);
  width: 16px;
  height: 16px;
  transform: translate(-50%, 50%);
  border-radius: 50%;
}

@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.image-container {
  position: relative;
  width: 50%;
  height: 50%;
}

.gradient {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 50%;
  background: linear-gradient(
    to bottom,
    rgba(255, 255, 255, 0) 0%,
    #110a1a 55%
  );
  z-index: 1;
}

#img {
  width: 100%;
  height: 50%;
}

.square {
  position: relative;
  width: 100%;
  padding-top: 100%;
  border: 2px solid;
}

.square-content {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: white;
}

.square-content:hover {
  cursor: pointer;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  transition: box-shadow 0.5s ease;
}

.selected {
  border: solid 4px rgb(180, 114, 255);
  cursor: pointer;
  transition: box-shadow 0.5s ease;
  background-color: pink;
}

.streaming-btn {
  background-color: #f4f4f4;
  border: 1px solid #ddd;
  padding: 10px;
  text-align: center; /* Centrerar texten */
  display: flex;
  justify-content: center;
}

.overlay {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
}

.overlay::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(19, 66, 0, 0.518);
  pointer-events: none;
  z-index: 1;
}

.input-video-container {
  display: flex;
  align-items: center;
  border: 1px solid grey;
  border-radius: 20px;
  overflow: hidden;
  width: 100%;
  max-width: 500px;
}

.input-field {
  flex-grow: 1;
  border: none;
  padding: 10px 20px;
  font-size: 16px;
  outline: none;
}

.video-button {
  background: none;
  border: none;
  padding: 10px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}

.video-button video {
  width: 100%;
  height: auto;
}

.hero-container {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: white;
  border: 2px solid #ff506c;
  border-radius: 10px;
  width: 100%;
  height: 279px;
}

.hero-btn {
  position: absolute;
  bottom: -20px;
  left: 50%;
  transform: translateX(-50%);
  padding: 10px 20px;
  background-color: #ff506c;
  color: white;
  border: 1px solid white;
  border-radius: 16px;
  width: 310px;
  height: 55px;
  font-weight: 700;
}

.hero-p {
  font-size: 24px;
}

.startpage-main {
  background: linear-gradient(
      to bottom,
      rgba(38, 24, 57, 0.6) 0%,
      /* gradient från ovan*/ rgba(17, 10, 26, 1) 80% /* gradient nere*/
    ),
    url("/oppenheimerIMDB.jpg");
  background-size: cover;
  background-position: center -100px; /* flyttar upp bilden*/
  background-repeat: no-repeat;
  display: flex;
  height: auto;
  min-height: 100vh; /* om man tar bort denna rad så ser det inte bra ut, måste nog justeras för
  / desktop-view, denna stör också så att elementen nedanför hamnar för långt ner på sidan. */
}

input:focus {
  outline: none; /* Removes the default outline */
}

.selected-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(180, 114, 255, 0.7); /* Semi-transparent overlay */
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 3em;
  visibility: hidden;
}

.square.selected .selected-overlay {
  visibility: visible; /* Always show overlay when selected */
}

.fade-out {
  position: relative;
  overflow: hidden;
}

.fade-out::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 3em; /* Adjust this value to control the height of the fade-out area */
  background: linear-gradient(to bottom, rgba(255, 255, 255, 0), #110a1a);
  pointer-events: none; /* Allows clicks to pass through */
}

.gradient-top {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: 5px;
  background: linear-gradient(
    to top,
    rgba(36, 16, 35, 1),
    rgba(0.07, 0.04, 0.1, 0.2)
  );
}

.gradient-bottom {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  height: 5px;
  background: linear-gradient(
    to bottom,
    rgba(36, 16, 35, 1),
    rgba(0.07, 0.04, 0.1, 0.2)
  );
}

/* Navbar */
.menu-modal {
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.5s ease-out; /* Default to open transition duration */
  position: fixed;
  top: 64px;
  left: 0;
  width: 100%;
  height: calc(100% - 64px); /* Adjust to match the height of your navbar */
  z-index: 90; /* Ensure it is above other elements */
  backdrop-filter: blur(10px);
  background-color: rgba(255, 255, 255, 0.1);
}

/* Class for opening */
.menu-modal.open {
  max-height: calc(
    100vh - 64px
  ); /* Ensure it covers the remaining viewport height */
  transition: max-height 0.4s ease-out; /* Set your desired open transition duration */
}

/* Class for closing */
.menu-modal.close {
  transition: max-height 0.4s ease-in; /* Set your desired close transition duration */
}

/* Disable scrolling */
.overflow-hidden {
  overflow: hidden;
}

.video-gradient-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: radial-gradient(circle, transparent, #110a1a 45%);
  opacity: 1;
  border-radius: 90%;
  z-index: 20;
}
